<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
</head>
<body>
    <div class ="holder headline">
        Travel App
    </div>

    <main>
        <section>
            <form action="/action_page.php">
                <label for="traveldate">Travel date:</label>
                <input type="date" id="traveldate" name="traveldate">
            </form>
        </section>

        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="" placeholder="Destination">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
        </section>
    </main>

</body>
</html>